@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>A strong hold location to secure your jokes. Good or bad, they're safe here.</p>
</div>
